<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <!-- РОЗДІЛ TAX -->
        <section id="tax">
            <group id="andriy_luxurytax_highlight"
                   translate="label"
                   type="text"
                   sortOrder="999"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="0">
                <label>Luxury Tax Row Highlight</label>
                <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>

                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Luxury Tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="color_lt_100" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Color &lt; 100</label>
                    <comment>HEX (e.g. #ffffff)</comment>
                    <frontend_model>Andriy\LuxuryTax\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>

                <field id="color_100_1000" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Color 100–1000</label>
                    <comment>HEX (e.g. #fffbbb)</comment>
                    <frontend_model>Andriy\LuxuryTax\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>

                <field id="color_gt_1000" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Color &gt; 1000</label>
                    <comment>HEX (e.g. #bbffbb)</comment>
                    <frontend_model>Andriy\LuxuryTax\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
